streamlit==1.30.0

numpy
pandas
pillow

requests

pydicom
scikit-image

opencv-python-headless

# PyTorch CPU版本（关键）
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.0+cpu
torchvision==0.15.0+cpu
